manage/.DS_Store
manage/node_modules/
api/node_modules/
/dist/
manage/npm-debug.log*
manage/yarn-debug.log*
manage/yarn-error.log*
api/upload

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
